*{margin: 0}
body section{
    border: red 1px dashed;
    font-family: "Segoe UI", serif;
}

#goText{
    color: white;
    position: absolute;
    left: calc(100px - 80px);
    top: calc(100px - 25px);
}

#goBtn{
    position: absolute;
    left: calc(100px - 20px);
    top: 100px;
}

#pointsText{
    position: absolute;
    left: 10px;top: 5px;color: white;
}

.alive{
    display: none;
}